flowindex.io {
	reverse_proxy localhost:8080
}

www.flowindex.io {
	redir https://flowindex.io{uri} permanent
}

run.flowindex.io {
	handle /functions/v1/* {
		reverse_proxy 10.128.0.4:54321
	}
	handle /auth/v1/* {
		reverse_proxy 10.128.0.4:54321
	}
	handle /rest/v1/* {
		reverse_proxy 10.128.0.4:54321
	}
	handle {
		reverse_proxy localhost:8081
	}
}

supabase.flowindex.io {
	reverse_proxy localhost:8080
}

ai.flowindex.io {
	reverse_proxy 34.170.76.156:80
}

studio.flowindex.io {
	handle /socket.io/* {
		reverse_proxy 10.128.0.4:3202
	}
	handle {
		reverse_proxy 10.128.0.4:3200
	}
}

analytics.flowindex.io {
	reverse_proxy localhost:3001
}
