
[[services]]
name = "backend"
root = "backend"
dockerfilePath = "Dockerfile"

[services.env]
PORT = "8080"
START_BLOCK = "140900000"
LATEST_WORKER_COUNT = "50"
HISTORY_WORKER_COUNT = "100"
LATEST_BATCH_SIZE = "10"
HISTORY_BATCH_SIZE = "500"
ENABLE_HISTORY_INGESTER = "true"
DB_MAX_OPEN_CONNS = "200"
DB_MAX_IDLE_CONNS = "50"
FLOW_ACCESS_NODE = "access-001.mainnet28.nodes.onflow.org:9000"
DB_URL = "postgres://${{ Postgres.PGUSER }}:${{ Postgres.PGPASSWORD }}@${{ Postgres.PGHOST }}:${{ Postgres.PGPORT }}/${{ Postgres.POSTGRES_DB }}?sslmode=disable"
RAILWAY_DOCKERFILE_PATH = "backend/Dockerfile"

[[services]]
name = "frontend"
root = "frontend"
dockerfilePath = "Dockerfile"

[services.env]
PORT = "8080"
RAILWAY_DOCKERFILE_PATH = "frontend/Dockerfile"

[services.buildArgs]
VITE_API_URL = "/api"
