ALTO_RPC_URL=https://testnet.evm.nodes.onflow.org
ALTO_EXECUTOR_PRIVATE_KEY=0x...
ALTO_UTILITY_PRIVATE_KEY=0x...
ALTO_ENTRYPOINTS=0x0000000071727De22E5E9d8BAf0edAc6f37da032
ALTO_PORT=4337
EVM_WALLET_FACTORY_ADDRESS=0xAc396ed9a5E949C685C3799657E26fE1d6fFf7E7

# Paymaster
PAYMASTER_ADDRESS=0x348C96e048A6A01B1bD75b6218b65986717CC15a
PAYMASTER_SIGNER_KEY=0x...
PAYMASTER_PORT=4338
